<div>
  <h1 class="text-center text-white bg-primary my-5">Online Quiz Application</h1>
    <div class="container bg-info my-5" *ngFor="let q of questions;let i = index">
        <p>{{i+1}}: {{q.question}}</p>
        <input type="radio" name="q.question" value="q.ans1">{{q.ans1}}<br>
        <input type="radio" name="q.question" value="q.ans2">{{q.ans2}}<br>
        <input type="radio" name="q.question" value="q.ans3">{{q.ans3}}<br>
        <input type="radio" name="q.question" value="q.ans4">{{q.ans4}}<br>

    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-10">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>

        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
    <div class="text-center">
    <button type="button" class="container t my-5 btn btn-success">Submit Your Answer</button></div>
</div>

